/node_modules
/public/hot
/public/primeicons.css
/public/primevue.min.css
/public/js/**/*.js
/public/js/**/*.map
/public/js/**/*.txt
/public/storage
/public/uploads
/public/mix-manifest.json
/public/*.map
/public/contents/admin/js/app.js
/storage/*.key
/storage/api-docs/*.json
/storage/db
/vendor
/.idea/**
.env
.env.testing
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
worker.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/public/theme/building-manager/*.css
/public/theme/building-manager/*.map
/public/layout/css/*.css
/public/layout/css/*.map
